<table id="homeDiv" align="center">
    <tr>
        <td class="text-center">
            <img src="siteData/img/logo.png" style="max-width:150px; margin-bottom:20px; width:80%" /><br/>
            <img src="siteData/img/main-img.png" style="max-width:450px; margin-bottom:10px; width:80%" /><br />
            <label>Use this app to scan the barcode on your photo and automatically download them to your device.</p>
        </td>
    </tr>
</table>

<nav class="main-nav">
    <a ng-click="startScan()" class="btn-image pull-left">
        <img src="siteData/img/scan-btn.png" />
        <strong>SCAN QR CODE</strong>
    </a>
    <a href="#/about" class="btn-image pull-right">
        <img src="siteData/img/about-btn.png" />
        <strong>ABOUT US</strong>
    </a>
</nav>